<!DOCTYPE html>
<html>
<head>
	<title>{{ Product::name() }} - {{ window_title|none }}</title>
	<meta charset="{{ i18n.charset }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" type="text/css" href="/apps/admin/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/apps/admin/css/text.css" />
	<link rel="stylesheet" type="text/css" href="/apps/admin/css/960.css" />
  <link rel="stylesheet" type="text/css" href="{{ Product::stylesheet() }}" />
  <link rel="shortcut icon" href="/{{ conf('General', 'favicon')|none }}" />
	{! admin/head !}
	{{ head|none }}
</head>
<body data-admin-last-page="{{ isset ($_COOKIE['elefant_last_page']) ? $_COOKIE['elefant_last_page'] : '' }}"  class="is-admin">
<div id="wrapper" class="container_12">
	<div id="body" class="grid_12">
	{% if title != '' %}<h2>{{ title|none }}</h2>{% end %}
	{{ body|none }}
	</div>
	<div class="clear"></div>
	<div id="footer" class="grid_12">
		<div class="grid_6 alpha">
			&nbsp;
		</div>
		<div class="grid_6 omega copyright">
			{"Powered by"} <a href="{{ Product::website() }}">{{ Product::name() }} {{ constant('ELEFANT_VERSION') }}</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
{{ tail|none }}
</body>
</html>