<!DOCTYPE html>
<html>
<head>
	<title>{{ conf('General', 'site_name') }} - {{ window_title|none }}</title>
	<meta charset="{{ i18n.charset }}" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300" />
	{% if detect('mobile') %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/mobile.css" />
	{% else %}
		<link rel="stylesheet" type="text/css" href="/css/960_compiled.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
    <link rel="shortcut icon" href="/{{ conf('General', 'favicon')|none }}" />
	{% end %}
	{! admin/head !}
	{{ head|none }}
</head>
<body>
<div id="wrapper" class="container_12">
	<div id="head" class="grid_12">
		<div class="grid_6 alpha">
			<h1><a href="/">{{ conf('General', 'site_name') }}</a></h1>
		</div>
		<div class="grid_6 omega menu">
			{! navigation/top !}
		</div>
	</div>
	<div class="clear"></div>
{% if id === 'index' %}
	<div id="body" class="grid_12 index-body">

{! filemanager/slideshow?path=homepage !}

{% if title != '' %}<h2>{{ title|none }}</h2>{% end %}
{{ body|none }}

	</div>
{% else %}
	<div id="body" class="grid_8">

{% if title != '' %}<h2>{{ title|none }}</h2>{% end %}
{{ body|none }}

	</div>
	<div id="sidebar" class="grid_4">
{! blocks/index?id=sidebar-[id]&fallback=members !}
	</div>
{% end %}
	<div class="clear"></div>
	<div id="footer" class="grid_12">
		<div class="grid_6 alpha menu">
			{! navigation/top !}
		</div>
		<div class="grid_6 omega powered">
			{"Powered by"} <a href="http://www.elefantcms.com/">Elefant CMS</a><br />
			{"Photos by"} <a href="http://www.rachaelhosein.com/">Rachael Hosein</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
{{ tail|none }}
</body>
</html>