<!DOCTYPE html>
<html>
<head>
	<title>{{ saasy\App::name () }} - {{ window_title }}</title>
	<meta charset="{{i18n.charset}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/{{ conf('General', 'favicon')|none }}" />
	<link rel="stylesheet" media="screen" href="/apps/saasy/bootstrap/css/bootstrap.min.css" />
	<style>
		body { padding-top: 60px !important; }
		.notice { color: #b94a48; }
	</style>
	<link rel="stylesheet" media="screen" href="/apps/saasy/bootstrap/css/bootstrap-responsive.min.css" />
	{! admin/head !}
	{{ saasy\App::theme ()|none }}
	{{ head|none }}
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/">{{ saasy\Customer::header ()|none }}</a>
			<div class="nav-collapse collapse">
				{{ saasy\App::menu ()|none }}
			</div>
			{% if saasy\App::has_search () %}
			<form class="navbar-search pull-right" method="get" action="{{ saasy\App::href () }}/search">
				<input	type="text"
						name="query"
						class="search-query saasy-autocomplete"
						placeholder="Search"
						style="width: 150px"
					{% if saasy\App::has_search_autocomplete () %}
						autocomplete="off"
						data-provide="typeahead"
					{% end %}
				/>
			</form>
			{% end %}
		</div>
	</div>
</div>

<div class="outer">
<div class="container main">
<h1>{{ title|none }}</h1>

{{ body|none }}
</div>

<footer class="footer">
	<div class="container">
		{{ saasy\App::footer ()|none }}
	</div>
</footer>
</div>

{% if saasy\App::has_search_autocomplete () %}
<script>
$(function () {
	$('.saasy-autocomplete').typeahead ({
		source: function (query, process) {
			return $.get ('/saasy/api/autocomplete', {query: query}, function (res) {
				if (res.success) {
					return process (res.data);
				}
			});
		}
	});
});
</script>
{% end %}
{{ tail|none }}
</body>
</html>